//variables
$primaryColor: #2bac73;
$secondaryColor: #ff914d;
$primary: $primaryColor;

@import "../node_modules/bulma/bulma.scss";

// navbar
.navbar-brand a {
    p {
    color: $primaryColor;
    font-size: 1rem;
    }   
    span {
    color: $secondaryColor;
    }
}
.navbar-end a {
  color: $secondaryColor;
}
  .is-sticky {
    position: sticky;
    top: 0;
    z-index: 1000; /* дээр харагдахаар */
    background-color: #f5f5f5; /* эсвэл өөр өнгө */
  }
  .navbar-shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
.navbar-brand .image img {
  max-width: 64px;
  height: auto;  
}
.navbar-item {
  display: flex;
  align-items: center;
  gap: 8px; /* зураг, текстийн хооронд зай */
}

.center,
.center-column,
.top,
.bottom,
.right,
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column {
    flex-direction: column;
}
.top {
    align-items: flex-start;
}
.bottom {
    align-items: flex-end;
}
.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}
// hero text
.txt {
  line-height: 1.4;
  letter-spacing: 0.3px;
}
.txt-h {
  line-height: 1.3;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}
// table
.tbl {
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .txt {
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
  .txt-h {
    line-height: 1.4;
    letter-spacing: 0.8px;
  }
  .tbl {
    font-size: 0.7rem;
  }
}

@media (min-width: 1024px) {
  .txt {
    line-height: 1.8;
    letter-spacing: 0.7px;
    margin-top: 2rem;
  }
  .txt-h {
    line-height: 1.5;    
    letter-spacing: 1px;
  }
  .tbl {
  font-size: 0.8rem;
  } 
}

// Svg image
#svg-container svg {
  width: 100%;
  height: auto;
  display: block;

  path {
    fill: #2bac73;
    stroke: #fff;
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.2s;
  }

  path:hover {
    fill: #ff914d;
  }
}
// sidebar
.menu {
  max-height: 50vh; /* дэлгэцийн өндөрт багтаах */
  overflow-y: auto;  /* босоо scrollbar идэвхжүүлнэ */

  overflow-x: auto; /* x тэнхлэгт scroll идэвхжүүлнэ */
  white-space: nowrap; /* мөр таслахгүй, нэг эгнээ байлгах */
}

.sublist {
  margin-left: 1.5rem;
}
.is-hidden {
  display: none;
}
.toggle-sublist {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle-sublist .icon {
  margin-right: 0.5rem;
}

  /* Холбоо барих */
  .custom-link {
    color: #363636; /* Bulma primary color */
    text-decoration: none;
    transition: color 0.3s ease;
  }  
  .custom-link:hover {
    color: $secondaryColor; 
    text-decoration: underline;
  }
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
/* Ном */
.book-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
.fixed-height {
  max-height: 250px;
  overflow-y: auto;
}