//variables
$primaryColor: #2bac73;
$secondaryColor: #ff914d;
$primary: $primaryColor;

@import "../node_modules/bulma/bulma.scss";

// navbar
.navbar-brand a {
    p {
    color: $primaryColor;
    font-size: 1rem;
    }   
    span {
    color: $secondaryColor;
    }
}
.navbar-end a {
  color: $secondaryColor;
}


.center,
.center-column,
.top,
.bottom,
.right,
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column {
    flex-direction: column;
}
.top {
    align-items: flex-start;
}
.bottom {
    align-items: flex-end;
}
.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}
// hero text
.txt {
  line-height: 1.4;
  letter-spacing: 0.3px;
}
.txt-h {
  line-height: 1.3;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}
// table
.tbl {
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .txt {
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
  .txt-h {
    line-height: 1.4;
    letter-spacing: 0.8px;
  }
  .tbl {
    font-size: 0.7rem;
  }
}

@media (min-width: 1024px) {
  .txt {
    line-height: 1.8;
    letter-spacing: 0.7px;
    margin-top: 2rem;
  }
  .txt-h {
    line-height: 1.5;    
    letter-spacing: 1px;
  }
  .tbl {
  font-size: 0.8rem;
  } 
}

// Svg image
#svg-container svg {
  width: 100%;
  height: auto;
  display: block;

  path {
    fill: #2bac73;
    stroke: #fff;
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.2s;
  }

  path:hover {
    fill: #ff914d;
  }
}
// sidebar
.menu {
  max-height: 100vh; /* дэлгэцийн өндөрт багтаах */
  overflow-y: auto;  /* босоо scrollbar идэвхжүүлнэ */
}

.sublist {
  margin-left: 1.5rem;
}
.is-hidden {
  display: none;
}
.toggle-sublist {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle-sublist .icon {
  margin-right: 0.5rem;
}